.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    min-height: 600px;
}

.post-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-row-gap: 20px;
}